.hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 20px;
  color: #333;
  text-align: left;
  font-family: "Inter", sans-serif;
  z-index: 1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fff, transparent 30%);
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  max-width: 900px;
  padding: 30px 0px 30px 50px;
}

.hero-content h1 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #2e3d48;
  letter-spacing: -0.175rem;
  line-height: 0.86;
}

.hero-content p {
  font-size: 30px;
  font-weight: 400;
  color: #2e3d48;
  margin-bottom: 0px;
  letter-spacing: -0.075rem;
  line-height: 1.17;
  width: calc(8 / 12 * 100%);
}

.margin-left{
  margin-left: 7px;
}

.cta-button {
  margin-top: 20px;
  padding: 0 30px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  background-color: #2e3d48;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.4s ease;
}

.cta-button:hover {
  background-color: #333;
  color: #fff;
}
.hero-section-pattern {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 1040px;
}
.hero-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-icon {
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 50%;
  margin-right: -20px;
  margin-left: 22px;
}
.data-image {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: calc(3 / 10 * 100%);
  margin: 30px;
}
.data-image img {
  width: 100%;
}
/* Extra-small mobile fix (<370px) */
@media (max-width: 369px) {
  .hero-cta-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hero-cta{
    width: 100% !important;
  }
}
@media only screen and (max-width: 1440px) {
  .hero-section-pattern {
    display: none;
  }
  .hero-content {
    border-radius: 2.5vw;
    background-color: #fff;
    max-width: calc(6 / 10 * 100%);
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin: 25px;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .hero-content > div {
    max-width: 900px;
  }
  .hero-content h1 {
    font-size: 55px;
    letter-spacing: -0.175rem;
    line-height: 0.86;
  }
  .hero-text-wrapper {
    display: block;
  }
  .hero-content p {
    font-size: 25px;
    width: 100%;
  }
  .data-image img {
    max-width: calc(4 / 10 * 100%);
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .hero-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    margin: 0;
  }
  .hero-video {
    position: relative;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }
  .hero {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    min-height: 60vh;
  }
  .hero-content h1 {
    font-size: 35px;
  }
  .hero-content p {
    font-size: 22px;
  }
  .data-image {
    display: none;
  }
}
