.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    background: hsla(0, 0%, 100%, 0);
    backdrop-filter: blur(30px) opacity(0);
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .navbar.scrolled {
    backdrop-filter: blur(30px) opacity(1);
    background-color: hsla(
      0,
      0%,
      100%,
      0.39
    ); /* Change to desired color on scroll */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333; /* Adjust as needed */
    font-weight: bold;
  }
  
  .demo-button {
    background-color: #333; /* Adjust as needed */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .demo-button:hover {
    background-color: #333; /* Adjust as needed */
  }
  
  .contact-button {
    background-color: #e0e0e0; /* Light gray background */
    color: #333; /* Dark text color */
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .contact-button:hover {
    background-color: #d5d5d5; /* Slightly darker gray on hover */
  }
  .mobile-menu {
    display: none;
  }
  .toggle-btn {
    background-color: transparent;
    border: none;
    display: none;
  }
  .toggle-btn svg {
    width: 40px;
  }
  .toggle-btn svg g
  {
    stroke: #000;
  }
  .close-btn {
    background: transparent;
    border: none;
    text-align: right;
  }
  .close-btn svg {
    width: 40px;
    height: 40px;
    stroke: #000;
  }
  .close-btn svg path {
    fill: #000;
  }
  @media only screen and (max-width: 768px) {
    .toggle-btn {
      display: block;
    }
    .mobile-menu {
      display: flex;
    }
    .mobile-hide {
      display: none;
    }
    .nav-links {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      flex-direction: column;
      backdrop-filter: blur(30px);
      background-color: rgba(255, 255, 255, 0.39);
      opacity: 0;
      visibility: hidden;
      transform: translateX(-110%);
      transition: 0.4s ease;
      z-index: 99999;
      padding: 30px;
    }
    .nav-links.toggle-active {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
  