.what-we-do * {
  box-sizing: border-box;
}
.what-we-do {
  background-color: #f5f7fa;
  text-align: center;
  border-radius: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 100px; */
}

.notch-pattern {
  width: calc(1 / 3 * 100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inner-we-do .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.inner-we-do .header h2 {
  font-size: 70px;
  letter-spacing: -0.175rem;
  line-height: 0.85;
  color: #2e3d48;
  font-weight: 500;
  margin-bottom: 10px;
}

.inner-we-do .header p {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.075rem;
  color: #2e3d48;
  margin-bottom: 4.375rem;
  margin-top: 2.1875rem;
}

.highlight {
  color: #333;
}

.services-container {
  display: flex;
  justify-content: center;
  list-style: none;
}

.service-item {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 2.5rem;
  padding: 0.625rem;
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
}
.services-container > li {
  width: calc(1 / 5 * 100%);
  padding: 1.25rem;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-item img {
  width: 100%;
  aspect-ratio: 214/228;
  border-radius: 2.5rem;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  object-position: top;
}

.service-info p {
  margin: 0;
  text-align: left;
  white-space: normal;
  line-height: 1.2;
  letter-spacing: -0.025rem;
  color: #000;
  font-size: 20px;
  flex: 1 1 0%;
}
.service-info {
  height: 60px;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 0.3125rem;
}

.arrow {
  color: #ff3366;
  cursor: pointer;
  font-size: 1.5em;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.platform-info {
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.platform-info p {
  font-size: 30px;
  color: #2e3d48;
  margin-bottom: 0px;
  letter-spacing: -0.075rem;
  line-height: 1.16;
}

.platform-image {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.inner-we-do {
  padding-top: 75px;
  padding-bottom: 90px;
}
.connect-lines {
  margin-top: -1.5625rem;
  margin-bottom: -0.6rem;
  max-width: calc(8 / 10 * 100%);
}
img.connect-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -1.5625rem;
  margin-bottom: -0.6rem;
}
.platform-content {
  max-width: calc(1 / 3 * 100%);
  width: 100%;
}
.platform-imagebx {
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
  max-width: calc(2 / 3 * 100%);
}
.platform-imagebx .platform-image {
  width: 100%;
  border-radius: 2.5rem;
  border: 0.625rem solid hsla(0, 0%, 100%, 0.5);
  width: 100%;
  max-width: 100%;
}
.flip-card-back, .flip-card-front {
  backface-visibility: hidden;
  transition: .3s ease;
}
.flip-card-inner {
  transition: transform .35s;
  transform-style: preserve-3d;
}
.flip-card-back {
  background-color: hsla(0, 0%, 100%, .9);
  -webkit-backdrop-filter: blur(30px) opacity(1);
  backdrop-filter: blur(30px) opacity(1);
  transform: rotateY(180deg);
}
.flip-card-background
{
  opacity: 0;
  transform: translateX(0%) translateY(0%) rotate(0deg);
  transition: .35s ease;
  transition-delay: .1s;
}
.flip-card:hover .flip-card-background {
  opacity: 1;
  transform: translateX(-11%) translateY(13%) rotate(-6deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card {
  perspective: 1000px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-back img
{
  width: 100%;
  height: 80%;
  object-fit: cover;
}
@media only screen and (max-width: 1200px) {
  .services-container {
    flex-wrap: wrap;
  }
  .services-container > li {
    width: 33.3%;
    padding: 20px;
  }
}
@media only screen and (max-width: 1024) {
  .platform-info {
    padding-left: 20px;
    padding-right: 20px;
  }
  .platform-info p {
    font-size: 22px;
    text-align: center;
  }
  .inner-we-do .header h2 {
    font-size: 35px;
  }
  .inner-we-do .header p {
    font-size: 22px;
    max-width: 600px;
  }
  .inner-we-do .header p br {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .platform-info {
    flex-direction: column-reverse;
  }
  .platform-imagebx {
    margin-left: 0px;
    max-width: 100%;
  }
  .platform-content {
    max-width: 100%;
  }
  .services-container > li {
    width: 50%;
    padding: 0.625rem;
  }
}
@media only screen and (max-width: 576px) {
  .services-container > li {
    width: 100%;
  }
}


* {
  font-family: "Inter";
}

.hero_1 {
  position: relative !important;
  overflow: hidden !important;
  min-height: 100vh !important;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-start !important;
  padding: 0 20px !important;
  color: #333 !important;
  text-align: left !important;
  font-family: "Inter", sans-serif !important;
  z-index: 1 !important;
}

.hero::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(to bottom, #fff, transparent 30%) !important;
}

.hero-video {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  z-index: -1 !important;
}

.hero-content {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 2 !important;
  max-width: 900px !important;
  padding: 30px 0px 30px 50px !important;
}

.hero-content h1 {
  font-size: 70px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
  color: #2e3d48 !important;
  letter-spacing: -0.175rem !important;
  line-height: 0.86 !important;
}

.hero-content p {
  font-size: 30px !important;
  font-weight: 400 !important;
  color: #2e3d48 !important;
  margin-bottom: 0px !important;
  letter-spacing: -0.075rem !important;
  line-height: 1.17 !important;
  width: calc(8 / 12 * 100%) !important;
}

.margin-left {
  margin-left: 7px !important;
}

.cta-button {
  margin-top: 20px !important;
  padding: 0 30px !important;
  height: 50px !important;
  display: inline-flex !important;
  align-items: center !important;
  background-color: #2e3d48 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 30px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  transition: 0.4s ease !important;
}

.cta-button:hover {
  background-color: #333 !important;
  color: #fff !important;
}

.hero-section-pattern {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  max-width: 1040px !important;
}

.hero-text-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  color: red !important;
}

.cta-icon {
  width: 35px !important;
  height: 35px !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #333 !important;
  border-radius: 50% !important;
  margin-right: -20px !important;
  margin-left: 22px !important;
}

.data-image {
  position: absolute !important;
  bottom: 0px !important;
  right: 0 !important;
  width: calc(3 / 10 * 100%) !important;
  margin: 30px !important;
}

.data-image img {
  width: 100% !important;
}

@media only screen and (max-width: 1440px) {
  .hero-section-pattern {
    display: none !important;
  }

  .hero-content {
    border-radius: 2.5vw !important;
    background-color: #fff !important;
    max-width: calc(6 / 10 * 100%) !important;
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
    margin: 25px !important;
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
  }

  .hero-content > div {
    max-width: 900px !important;
  }

  .hero-content h1 {
    font-size: 55px !important;
    letter-spacing: -0.175rem !important;
    line-height: 0.86 !important;
  }

  .hero-text-wrapper {
    display: block !important;
    color: red !important;
  }

  .hero-content p {
    font-size: 25px !important;
    width: 100% !important;
  }

  .data-image img {
    max-width: calc(4 / 10 * 100%) !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .hero-content {
    position: relative !important;
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
    margin: 0 !important;
  }

  .hero-video {
    position: relative !important;
    border-bottom-left-radius: 2.5rem !important;
    border-bottom-right-radius: 2.5rem !important;
    background-color: red !important;
  }

  .hero_1 {
    flex-direction: column !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .hero-content h1 {
    font-size: 35px !important;
  }

  .hero-content p {
    font-size: 22px !important;
  }

  .data-image {
    display: none !important;
  }
  .inner-we-do
  {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
  }
  .inner-we-do .header h2
  {
    font-size: 65px;
  }
  .services-container > li
  {
    padding-left: 0px;
    padding-right: 0px;
  }
}
