.stepin-section {
  max-width: 1440px;
  /* margin-top: 9.375rem; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  margin-bottom: 1.25rem;
  text-align: center;
}
.stepin-section h2 {
  font-size: 50px;
  letter-spacing: -0.125rem;
  max-width: 46.875rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  color: #2e3d48;
  line-height: 1.1;
}
.highlight-text {
  color: #333;
}
@media only screen and (max-width: 1200px) {
  .stepin-section h2 {
    font-size: 30px;
    max-width: 17.5rem;
    letter-spacing: -0.0375rem;
    line-height: 1.1;
  }
}
@media only screen and (max-width: 768px) {
  .stepin-section {
    margin-top: 6.25rem;
  }
}
