
.footer_1 {
  text-align: left !important;
  position: relative;
  color: white;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-top: 3.4375rem;
  padding-bottom: 1.875rem;
  overflow: clip;
  margin-top: 7.5rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: #2e3d48;
}

.footer-section a
{
  text-decoration: none;
  color: #fff;
}
.footer-content {
  display: flex;
  width: 100%;
}
.footer-link-container {
  display: flex;
  margin: -0.625rem;
  min-height: 11.875rem;
  flex-wrap: wrap;
  width: calc(6 / 10 * 100%);
}
.footer-link-container > div {
  width: calc(1 / 4 * 100%);
}
.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h4 {
  margin-bottom: 15px;
  letter-spacing: -0.075rem;
  font-size: 1.875rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 12px 0;
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  font-family: "Inter";
}
.footer-section li a
{
  font-weight: 300;
}

.footer-btn-container {
  width: calc(4 / 10 * 100%);
  display: flex;
  gap: 0.9375rem;
  justify-content: flex-end;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons i {
  font-size: 24px;
  cursor: pointer;
}

.social-icons i:hover {
  color: #3498db;
}
.footer-bottom {
  margin-top: 3.8rem;
}
.footer-bottom p {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #fff;
}
.social-icons {
  font-size: 30px;
  display: flex;
  gap: 2.1875rem;
  padding-bottom: 2.1875rem;
  margin-bottom: 1.4375rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
.social-icons svg {
  width: 20px;
  height: 20px;
}
.contact-us-btn {
  height: 3.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  border: 0.0625rem solid #fff;
  transition: 0.4s;
  cursor: pointer;
  white-space: nowrap;
}
.contact-us-btn:hover {
  border-color: #0000;
  background-color: #0000;
  color: #fff;
}

.book-btn {
  height: 3.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  color: #0000;
  border: 0.0625rem solid #fff;
  transition: 0.4s;
  cursor: pointer;
}
.book-btn:hover {
  border-color: #0000;
  background-color: #0000;
  color: #fff;
}

.login-btn {
  height: 3.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: 0.0625rem solid transparent;
  border-radius: 30px;
  transition: 0.4s;
  cursor: pointer;
}
.login-btn:hover {
  border-color: #0000;
  background-color: #0000;
  color: #fff;
}

@media (min-width: 1024px) {
  .footer-svg-icon {
    width: 480px;
  }
}

@media (min-width: 1280px) {
  .footer-svg {
    right: -70px;
    bottom: -120px;
  }

  .footer-svg-icon {
    width: 596px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-btn-container {
    width: 100%;
    justify-content: flex-start;
  }
  .footer-content {
    flex-direction: column-reverse;
  }
  .footer-link-container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    margin: 0;
  }
  .footer-section h4 {
    font-size: 22px;
  }
  .footer-section {
    margin: 0;
  }
  .footer-btn-container {
    margin-bottom: 2.5rem;
  }
  .contact-us-btn,
  .login-btn,
  .book-btn
  {
    height: 2.375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 14px;
  }
  .footer_1 {
    text-align: left !important;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.875rem;
    padding-top: 3.4375rem;
    margin-top:0.5rem;
  }
  .footer-link-container > div {
    width: 100%;
  }
  .footer-bottom {
    margin-top: 40px;
  }
}
