/* src/index.css */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter";
  box-sizing: border-box;
}
#root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
html,
/* html {
  overflow-y: scroll;
} */
body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.hidden {
  display: none !important;
}

#stage {
  background-color: #e6e6e6;
}

#stage.state-loading::after {
  /* content: "Loading ..."; */
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 100vh;
  text-align: center;
  color: white;
  background: gray;
}

#stage.state-error::after {
  content: "Error";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 100vh;
  text-align: center;
  color: red;
  background: white;
}

#instruction,
#heart-rate {
  height: 1.5em;
}

#canvas-wrapper {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  pointer-events: none; */
}

#mxcanvas {
  aspect-ratio: 480 / 894;
  max-width: 100%;
  max-height: 100%;
  /* position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important; */
}

@media (min-aspect-ratio: 480 / 894) {
  #mxcanvas {
    height: 100%;
    /* width: auto; */
  }
}

#heart-rate:not(:empty)::before {
  content: "Heart rate: ";
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

#health-risks-factors {
  display: flex;
  flex-direction: column;
}
.try-demo-page {
  user-select: none;
  -webkit-user-select: none;
}
/* #canvas-wrapper
{
  max-height: 100vh;
  overflow: auto;
} */
@media only screen and (max-width: 768px) {
  #canvas-wrapper {
    width: 100%;
  }
  #mxcanvas {
    width: 100%;
  }
  /* #stage
  {
    margin-top: 10px;
    height: 90vh;
  } */
  /* .try-demo-page {
    padding-top: 60px;
  } */
}
@media only screen and (max-width: 575px) {
  #mxcanvas {
    /* width: auto; */
  }
}
@supports (-webkit-touch-callout: none) {
  #canvas-wrapper {
    height: -webkit-fill-available;
  }
  #mxcanvas {
    max-height: -webkit-fill-available;
  }
}

@supports (height: 100dvh) {
  #canvas-wrapper {
    height: 100dvh;
  }
  #mxcanvas {
    max-height: 100dvh;
  }
}

/* #stage {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.state-loading {
  opacity: 0.5;
}

.state-loaded {
  opacity: 1;
}

.state-error {
  opacity: 0.5;
} */
.table-container > div::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar
{
  background: transparent;
  height: 6px;
  width: 6px;
}
.table-container > div::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  background: #aaa;
}